{%extends 'all-folios/base.html'%}

{% block content%}

<div class="container about">

    <h2> Jadiel gallery is a collection of images from different categories that are found in my beloved country Kenya.
    </h2>
    <h3> search the following categories in the search bar inorder to view these images: </h3>
    <ul>
        <li>Birds</li>
        <li>Wild Animals</li>
        <li>African culture and dressing</li>
        <li>Beaches and falls</li>
        <li>Mountains and Forest</li>
        <li>Intellectuals</li>


    </ul>


</div>
{% endblock %}